@font-face {
    font-family: JosefinSans;
    src: url('/src/modules/JosefinSans.ttf');
}

@font-face {
    font-family: JosefinSans-R;
    src: url('/src/modules/JosefinSans-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    box-sizing: border-box;
    min-width: 400px;
    font-family: JosefinSans-R, Arial, Helvetica, sans-serif;
}

header {
    height: 100px;
    border-bottom: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    min-height: 300px;
    width: 90%;
    margin: 0 auto;
    border: solid 2px black;
    border-left: none;
    border-right: none;
    background-color: #FEFCF2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}

main p {
    margin: 0;
}

#newTodoBtnDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-start;
    flex: 1;
    margin: 0 0 10px 5px;
}

#newTodoBtn {
    margin: 0;
    margin-top: 30px;
}


/*////////// Form styles //////////*/

#containerForm {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 23, 23, 0.527);
    align-items: center;
}

form {
    width: 290px;
    padding: 30px;
    max-width: 600px;
    min-width: 350px;
    margin: 0 auto;
    border: solid 2px black;
    border-radius: 7px;
    background-color: gainsboro;
}

form input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

form input[type="radio"]:checked + label[for='lowRadio'] {
    user-select: none;
    background-color:#90C796;
    border-color: #2FBD74;
}
form input[type="radio"]:checked + label[for='normalRadio'] {
    user-select: none;
    background-color:#FEEB99;
    border-color: #F9C253;
}
form input[type="radio"]:checked + label[for='urgentRadio'] {
    user-select: none;
    background-color:#EDAA98;
    border-color: #FE8563;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
}

.hideMe {
    display: none;
}

.showMe {
    display: flex;
}

.formRow {
    display: flex;
    justify-content: space-between;
}

#submitBtn {
    margin-bottom: 0;
}


/*////////// Todo styles //////////*/

#todosContainer {
    flex: 10;
}

.todo {
    margin-top: 10px;
    padding: 5px;
    border-bottom: solid 2px black;
    border-radius: 2px;
    background-color: #FEFCF2;
    user-select: none;
}

.todoTop {
    display: flex;
    justify-content: space-between;
}

.todoBottom {
    display: none;
}

.todoBottomShow {
    display: block;
}

.todoBottom p {
    word-break: break-all;
}

.todo:hover {
    border-left: 2px rgb(0, 140, 255) solid;
    border-bottom: 2px rgb(0, 140, 255) solid;
    padding: 5px 5px 5px 3px;
}

.todoCheckbox{
    font-family: JosefinSans-R;
     width: 20px;
     height: 20px;
     border: solid 2px;
     border-radius: 3px;
     text-align: center;
}

.todoTitle {
    flex: 7;
    margin-left: 10px;
}

.todoDueDate {
    flex: 3;
}

.todoPriority {
    border: solid 1px black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    align-self: center;
    margin: 0 10px;
}

.levellow{
    border-color: #2FBD74;
    color: #2FBD74;
}
.levelnormal {
    border-color: #F9C253;
    color: #F9C253;
}
.levelurgent {
    border-color: #FE8563;
    color: #FE8563;
}

/*////////// Project styles //////////*/

#projectsContainer {
    display: flex;
    flex-wrap: wrap;
}

.projectBtn {
    position: relative;
    user-select: none;
    font-size: 1.30em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 20px;
    border-radius: 3px;
    padding: 0 5px;
}

.projectBtnSelected {
    color: rgb(0, 140, 255);
}

.projectBtn:hover {
    color: rgb(0, 140, 255);
}

.projectBtn::before {
    content : "";
    position: absolute;
    left    : 25%;
    bottom  : 0;
    height  : 1px;
    width   : 50%;  /* or 100px */
    border-bottom: 2px solid black;
}

.projectBtn:hover::before {
    border-color: rgb(0, 140, 255);
}

.projectsH3 {
    margin: 0;
}

#newProjectInput {
    margin-bottom: 9px;
}

#newProjectBtnAndInput {
    margin-top: 20px;
}

#projectBtnsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#deleteCurrentProject {
    margin-top: 20px;
    color: #FE8563;
    border-color: #FE8563;
}

#deleteCurrentProject:hover {
    background-color: #FE8563;
    color: black;
}
